In [2]:
import pandas as pd

In [77]:
data = pd.read_csv('/Volumes/ML_projects/richpeoplecars/NAD_r5_TXT/TXT/NAD_r5.csv', nrows=1500000, skiprows=10990000)

/Users/brendanferris/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (11,13,17,18,19,21,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [78]:
data

,-1,NJ,MERCER,TRENTON CITY,Unnamed: 4,Unnamed: 5,TRENTON,08618,3714,Unnamed: 9,...,18TWK2034953390,{4A5D7254-3DEE-416D-8616-D0D41068008A},Unknown,SITE,NEW JERSEY OFFICE OF GIS,NJ OFFICE OF GIS,Unnamed: 38,4/15/2016 0:00:00,Unnamed: 40,Unnamed: 41
0,-1,NJ,MERCER,TRENTON CITY,NaN,NaN,TRENTON,8618.0,5902.0,NaN,...,18TWK2008652879,{F0D87B3F-7A69-4DFB-9822-30CB0C5BE01A},Unknown,SITE,NEW JERSEY OFFICE OF GIS,NJ OFFICE OF GIS,NaN,4/15/2016 0:00:00,NaN,NaN
1,-1,NJ,MERCER,TRENTON CITY,NaN,NaN,TRENTON,8618.0,5902.0,NaN,...,18TWK2008652879,{46713392-362A-40B1-8004-FFCE019460D6},Unknown,SITE,NEW JERSEY OFFICE OF GIS,NJ OFFICE OF GIS,NaN,4/15/2016 0:00:00,NaN,NaN
2,-1,NJ,MERCER,TRENTON CITY,NaN,NaN,TRENTON,8618.0,3914.0,NaN,...,18TWK2014652879,{22C5E9D8-D776-468B-9517-F1ABC0874345},Unknown,SITE,NEW JERSEY OFFICE OF GIS,NJ OFFICE OF GIS,NaN,4/15/2016 0:00:00,NaN,NaN
3,-1,NJ,MERCER,TRENTON CITY,NaN,NaN,TRENTON,8618.0,5902.0,NaN,...,18TWK2009552890,{4BBED98E-493B-4254-9A2C-0C4932A85391},Unknown,SITE,NEW JERSEY OFFICE OF GIS,NJ OFFICE OF GIS,NaN,4/15/2016 0:00:00,NaN,NaN
4,-1,NJ,MERCER,TRENTON CITY,NaN,NaN,TRENTON,8618.0,3914.0,NaN,...,18TWK2014652890,{542B0647-AC4C-4E67-87A1-505A72DBE8E0},Unknown,SITE,NEW JERSEY OFFICE OF GIS,NJ OFFICE OF GIS,NaN,4/15/2016 0:00:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499995,-1,NJ,MONMOUTH,OCEAN TOWNSHIP,NaN,NaN,ASBURY PARK,7712.0,NaN,NaN,...,18TWK8095756750,{BA86E420-A61F-47A6-A082-C1307A05258B},Residential,UNKNOWN,NEW JERSEY OFFICE OF GIS,MONMOUTH COUNTY,NaN,4/15/2016 0:00:00,NaN,NaN
1499996,-1,NJ,MONMOUTH,OCEAN TOWNSHIP,NaN,NaN,ASBURY PARK,7712.0,NaN,NaN,...,18TWK8096556761,{9CF18E7E-FA0F-4E3E-A0C4-9C1D1BA5A606},Residential,UNKNOWN,NEW JERSEY OFFICE OF GIS,MONMOUTH COUNTY,NaN,4/15/2016 0:00:00,NaN,NaN
1499997,-1,NJ,MONMOUTH,OCEAN TOWNSHIP,NaN,NaN,ASBURY PARK,7712.0,NaN,NaN,...,18TWK8097456750,{0FE2BEAC-87A3-4DB9-BC3E-46985DDC6ED4},Residential,UNKNOWN,NEW JERSEY OFFICE OF GIS,MONMOUTH COUNTY,NaN,4/15/2016 0:00:00,NaN,NaN
1499998,-1,NJ,MONMOUTH,OCEAN TOWNSHIP,NaN,NaN,ASBURY PARK,7712.0,NaN,NaN,...,18TWK8097456750,{C89315F9-C3F4-45F0-9C2C-F77D36938558},Residential,UNKNOWN,NEW JERSEY OFFICE OF GIS,MONMOUTH COUNTY,NaN,4/15/2016 0:00:00,NaN,NaN
1499999,-1,NJ,MONMOUTH,OCEAN TOWNSHIP,NaN,NaN,ASBURY PARK,7712.0,NaN,NaN,...,18TWK8099956750,{F455862A-DB53-4A45-BADE-C7E64349CCB2},Residential,UNKNOWN,NEW JERSEY OFFICE OF GIS,MONMOUTH COUNTY,NaN,4/15/2016 0:00:00,NaN,NaN

In [79]:
col = "OID,State,County,Inc_Muni,Uninc_Comm,Nbrhd_Comm,Post_Comm,Zip_Code,Plus_4,Bulk_Zip,Bulk_Plus4,StN_PreMod,StN_PreDir,StN_PreTyp,StN_PreSep,StreetName,StN_PosTyp,StN_PosDir,StN_PosMod,AddNum_Pre,Add_Number,AddNum_Suf,LandmkPart,LandmkName,Building,Floor,Unit,Room,Addtl_Loc,Milepost,Longitude,Latitude,NatGrid_Coord,GUID,Addr_Type,Placement,Source,AddAuth,UniqWithin,LastUpdate,Effective,Expired"
str_col = col.split(',')
data.columns = str_col

In [80]:
data.Post_Comm.value_counts()

TOMS RIVER            52768
PATERSON              38799
BRICK                 30380
TRENTON               28003
EDISON                27613
                      ...
WHITEHOUSE STATION        1
RIDGEWOOD                 1
HOPE                      1
IRVINGTON                 1
CLARKSBURG                1
Name: Post_Comm, Length: 340, dtype: int64

In [81]:
data.County.value_counts()

OCEAN        263776
MIDDLESEX    233599
MONMOUTH     218178
MORRIS       202160
UNION        163072
PASSAIC      140206
SOMERSET     100969
SUSSEX        68334
MERCER        46079
WARREN        39466
SALEM         24081
Morris           71
Passaic           9
Name: County, dtype: int64

In [82]:
subset = data[['State', 'Post_Comm', 'StreetName', 'StN_PosDir', 'Add_Number', 'StN_PosTyp', 'Unit', 'Zip_Code']]

In [83]:
subset.fillna('NULL', inplace=True)

/Users/brendanferris/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [98]:
subset = subset.loc[subset['Post_Comm'] != 'NULL']
subset = subset.astype(str)

In [122]:
subset.to_csv('north_jersey.csv', index=False)

In [99]:
subset.tail(50)

,State,Post_Comm,StreetName,StN_PosDir,Add_Number,StN_PosTyp,Unit,Zip_Code
1499950,NJ,ASBURY PARK,WILLOW,NULL,3.0,DRIVE,310,7712.0
1499951,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,702,7712.0
1499952,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,701,7712.0
1499953,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,704,7712.0
1499954,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,703,7712.0
1499955,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,706,7712.0
1499956,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,705,7712.0
1499957,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,708,7712.0
1499958,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,707,7712.0
1499959,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,709,7712.0
1499960,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,710,7712.0
1499961,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,711,7712.0
1499962,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,712,7712.0
1499963,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,713,7712.0
1499964,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,714,7712.0
1499965,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,715,7712.0
1499966,NJ,ASBURY PARK,WILLOW,NULL,7.0,DRIVE,716,7712.0
1499967,NJ,ASBURY PARK,WILLOW,NULL,5.0,DRIVE,507,7712.0
1499968,NJ,ASBURY PARK,WILLOW,NULL,5.0,DRIVE,508,7712.0
1499969,NJ,ASBURY PARK,WILLOW,NULL,5.0,DRIVE,505,7712.0
1499970,NJ,ASBURY PARK,WILLOW,NULL,5.0,DRIVE,506,7712.0
1499971,NJ,ASBURY PARK,WILLOW,NULL,5.0,DRIVE,503,7712.0
1499972,NJ,ASBURY PARK,WILLOW,NULL,5.0,DRIVE,504,7712.0
1499973,NJ,ASBURY PARK,WILLOW,NULL,5.0,DRIVE,501,7712.0
1499974,NJ,ASBURY PARK,WILLOW,NULL,5.0,DRIVE,502,7712.0
1499975,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,901,7712.0
1499976,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,902,7712.0
1499977,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,903,7712.0
1499978,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,904,7712.0
1499979,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,905,7712.0
1499980,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,906,7712.0
1499981,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,907,7712.0
1499982,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,908,7712.0
1499983,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,909,7712.0
1499984,NJ,ASBURY PARK,WILLOW,NULL,9.0,DRIVE,910,7712.0
1499985,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1101,7712.0
1499986,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1102,7712.0
1499987,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1103,7712.0
1499988,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1104,7712.0
1499989,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1105,7712.0
1499990,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1106,7712.0
1499991,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1107,7712.0
1499992,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1108,7712.0
1499993,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1109,7712.0
1499994,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1110,7712.0
1499995,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1111,7712.0
1499996,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1112,7712.0
1499997,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1113,7712.0
1499998,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1114,7712.0
1499999,NJ,ASBURY PARK,WILLOW,NULL,13.0,DRIVE,1307,7712.0

In [87]:
subset['Unit'] = subset['Unit'].str.replace('UNIT', '')

In [105]:
subset.loc[subset['Room'] != 'NULL']

Empty DataFrame
Columns: [State, Post_Comm, StreetName, StN_PosDir, Add_Number, StN_PosTyp, Floor, Unit, Room, Zip_Code]
Index: []

In [89]:
def leading_zero(zipcode):
    correct_zip = str(0) + zipcode
    return correct_zip

In [91]:
leading_zero('7712')

'07712'

In [101]:
subset['Zip_Code'] = '0' + subset['Zip_Code']

In [110]:
subset.iloc[subset['Zip_Code'].isnull() == 'True']

/Users/brendanferris/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [114]:
subset.Zip_Code[1].split('.')[0]

'08618'

In [115]:
def trailing_zero(num):
    res = num.split('.')[0]
    return res

In [119]:
subset['Zip_Code'] = subset.Zip_Code.apply(trailing_zero)

In [118]:
subset

,State,Post_Comm,StreetName,StN_PosDir,Add_Number,StN_PosTyp,Unit,Zip_Code
0,NJ,TRENTON,BRUNSWICK,NULL,122.0,AVENUE,NULL,08618.0
1,NJ,TRENTON,BRUNSWICK,NULL,124.0,AVENUE,NULL,08618.0
2,NJ,TRENTON,MONTGOMERY,NULL,449.0,STREET,NULL,08618.0
3,NJ,TRENTON,BRUNSWICK,NULL,126.0,AVENUE,NULL,08618.0
4,NJ,TRENTON,MONTGOMERY,NULL,451.0,STREET,NULL,08618.0
...,...,...,...,...,...,...,...,...
1499995,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1111,07712.0
1499996,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1112,07712.0
1499997,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1113,07712.0
1499998,NJ,ASBURY PARK,WILLOW,NULL,11.0,DRIVE,1114,07712.0
1499999,NJ,ASBURY PARK,WILLOW,NULL,13.0,DRIVE,1307,07712.0

In [120]:
subset['Add_Number'] = subset.Add_Number.apply(trailing_zero)

In [121]:
subset

,State,Post_Comm,StreetName,StN_PosDir,Add_Number,StN_PosTyp,Unit,Zip_Code
0,NJ,TRENTON,BRUNSWICK,NULL,122,AVENUE,NULL,08618
1,NJ,TRENTON,BRUNSWICK,NULL,124,AVENUE,NULL,08618
2,NJ,TRENTON,MONTGOMERY,NULL,449,STREET,NULL,08618
3,NJ,TRENTON,BRUNSWICK,NULL,126,AVENUE,NULL,08618
4,NJ,TRENTON,MONTGOMERY,NULL,451,STREET,NULL,08618
...,...,...,...,...,...,...,...,...
1499995,NJ,ASBURY PARK,WILLOW,NULL,11,DRIVE,1111,07712
1499996,NJ,ASBURY PARK,WILLOW,NULL,11,DRIVE,1112,07712
1499997,NJ,ASBURY PARK,WILLOW,NULL,11,DRIVE,1113,07712
1499998,NJ,ASBURY PARK,WILLOW,NULL,11,DRIVE,1114,07712
1499999,NJ,ASBURY PARK,WILLOW,NULL,13,DRIVE,1307,07712